body {
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color);
}

.App {
    height: 100%;
    transition: all 0.3s ease;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .Content > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    > .Transition {
        > div {
            transition:
                transform 0.3s ease,
                opacity 0.3s ease;

            &.animate {
                opacity: 0;
                transform: translateX(10px);
            }
        }
    }
}

.SafeArea {
    height: calc(100% - var(--tg-viewport-safe-area-inset-top, 0px));
    padding-top: calc(
        var(--tg-viewport-safe-area-inset-top, 0px) +
            var(--tg-viewport-content-safe-area-inset-top, 0px)
    );
}

.TopBar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    .AppName {
        font-size: 24px;
        font-weight: 500;
        flex: 1;
        margin-left: -12px;
        padding-left: 12px;
        overflow: hidden;
    }

    .AppName .title span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .Buttons {
        display: flex;
        align-items: center;
        gap: 16px;

        & > div {
            display: flex;
            cursor: pointer;
        }
    }
}

.BottomBar {
    display: flex;
    border-top: 1px solid var(--border-color);
    // padding-inline: 2px;

    .Item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
        font-weight: 500;
        gap: 0.25rem;
        font-size: 12px;
        line-height: 1.2;
        padding-block: 4px;
        border-radius: 8px;
        color: #aaa;
        cursor: pointer;
        transition: all 0.2s ease;

        &:active {
            transform: scale(0.95);
            color: var(--text-color);
            background-color: var(--active-bg);
        }

        &.active {
            color: var(--text-color);
            // background-color: var(--active-bg);
        }

        .meta {
            flex: 1;
            display: inline-flex;
            align-items: center;
        }
    }
}

.Avatar {
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active-bg);
    background-image: linear-gradient(var(--color-white) -300%, var(--color-user));
    border-radius: 50%;
}

@keyframes ItemLoading {
    from {
        background-position-x: 200%;
    }

    to {
        background-position-x: 0%;
    }
}

.Transition {
    display: contents;

    &.hidden {
        visibility: hidden;
    }
}

.TextTransition {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 12rem;
    /* min-height: 1.2rem; */
}

.TextTransition span {
    position: relative;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease;
}

.TextTransition span.showAnim {
    left: 12px;
    opacity: 0;
}

.TextTransition .prev {
    position: absolute;
    width: 100%;
    left: -12px;
    opacity: 0;
}

.TextTransition .prev.showAnim {
    left: 0px;
    opacity: 1;
}

.TextTransition .Transition.hidden {
    visibility: visible;
}

.TextTransition .Transition.hidden span {
    visibility: hidden;
}

.TextTransition .Transition.hidden .prev {
    visibility: visible !important;
}

.primary {
    color: var(--tg-theme-accent-text-color);

    &:hover {
        background-color: color-mix(
            in srgb,
            var(--tg-theme-accent-text-color) 10%,
            transparent
        ) !important;
    }
}

.Items,
.ChatList {
    // flex: 1;
    overflow-y: auto;

    margin: 0.5rem;
    border-radius: 1rem;

    .Item,
    .ChatItem {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        min-height: 3rem;
        padding: 0.5rem;
        padding-right: 1rem;
        cursor: pointer;
        background-color: var(--secondary-bg-color);
        position: relative;
        transition:
            background-color 0.2s ease,
            opacity 0.3s ease;

        &:hover {
            background-color: var(--hover-bg);
        }

        &::after {
            content: "";
            background-color: var(--border-color);
            position: absolute;
            left: 3.75rem;
            bottom: 0px;
            width: calc(100% - 3.75rem);
            height: 1px;
        }

        &:last-child::after {
            display: none;
        }

        &.animate {
            opacity: 0;
        }

        .icon {
            width: 3rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 0.33rem;
            flex: 1 auto;

            .subtitle {
                font-size: 0.75rem;
                color: var(--secondary-text);
            }
        }

        .meta {
            color: var(--secondary-text);
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .TextTransition {
                min-width: 7rem;
                text-align: right;
            }
        }
    }

    .ChatItem {
        gap: 1rem;
    }
}

.ChatList {
    .ChatItem {
        gap: 1rem;
    }
}

.Profile {
    .User, .Chat {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .info {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.25rem;

            .title {
                font-size: 1.5rem;
                font-weight: bold;
            }
    
            .subtitle {
                font-size: 1rem;
                color: var(--secondary-text);
            }
        }
    }
}

.Placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem;
    gap: 1rem;

    .Title {
        text-align: center;
    }
}

.NothingPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: var(--secondary-text);
    font-size: 1rem;
    line-height: 1.5;
    gap: 0.5rem;
}

.Section {
    display: flex;
    flex-direction: column;

    > .title {
        color: var(--secondary-text);
        font-size: 0.9rem;
        margin: 0 1.5rem;
    }

    .flex {
        gap: .5rem;
        margin: 0.5rem 1.5rem 0 1.5rem;

        .icon {
            font-size: 22px;
        }

        .title {
            color: var(--text-color);
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0;
        }
    }

    > .description {
        color: var(--secondary-text);
        font-size: 0.9rem;
        margin: 0 1.5rem 0.5rem 1.5rem;
    }
}

.Tabs {
    display: flex;
    gap: 8px;
    padding: 8px;
    position: sticky;
    top: 0px;
    background-color: var(--secondary);
    z-index: 1;
}

.Tab {
    background-color: transparent;
    padding: 6px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.Tab:hover {
    background-color: var(--hover-bg);
}

.Tab.active {
    background-color: var(--active-bg);
}

.Tab .icon {
    display: none;
}

.TabContainer,
.TabContent {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.TabContent {
    left: 0;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: center;
    transition: left 0.3s ease;
}

.next .TabContent.hideAnim,
.prev .TabContent.showAnim {
    position: absolute;
    left: -100%;
    top: 51px;
}

.next .TabContent.showAnim,
.prev .TabContent.hideAnim {
    position: absolute;
    left: 100%;
    top: 51px;
}

input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 1rem;
    // border: 1px solid var(--border-color);
    // border-radius: 8px;
    background-color: transparent;
    color: var(--text-color);
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.scrollable {
    overflow-y: auto;
}

.Menu {
    position: relative;
    transition: transform .3s ease;

    &>::after {
        display: block !important;
    }

    .active {
        background-color: var(--hover-bg);
    }

    >.icon {
        position: relative;
    }
}

.DropdownMenu {
    --blur-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0002;
    position: fixed;
    min-width: 13.5rem;
    border-radius: 10px;
    z-index: 30;
    margin: 4px 12px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: var(--blur-filter);
    user-select: none;
    transform-origin: top left !important;
    transform-origin: var(--origin, top left) !important;
    overflow: hidden;
    box-shadow: 0px 0px 10px -4px #000000aa;
    transition: transform 0.2s ease, opacity 0.2s ease;

    .icon {
      background: none;
    }

    &.animate {
        /* transform: scale(0.95); */
        transform: scale(.5) rotateX(45deg) translateY(-18px);
        opacity: 0;
    }

    &.hideAnim {
        transform: scale(.95) translateY(-18px);
        transform-origin: top !important;
        opacity: 0;
    }

    &.showAnim {
        transition: none;
    }

    &.top {
        top: 0;
    }

    &.left {
        left: 0;
        transform-origin: top left !important;
    }

    &.right {
        right: 0;
        transform-origin: top right !important;
    }

    &.bottom {
        bottom: 0;
    }

    &.withoutTitle {
        top: 36px !important;
    }
}

.MenuItem {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 34px;
    padding: .75rem 0.5rem;
    white-space: pre;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.15s ease;

    &:last-child {
        border-bottom: none;
    }

    &.withSubtitle {
     min-height: 44px;
    }

    &>div {
        margin-left: 8px;
    }

    &>div~div {
        margin: 0;
        overflow: hidden;
    }

    &:hover {
     background-color: var(--hover-bg);
    }

    // &:active {
    //  transform: scale(.95);
    // }

    .icon {
     font-size: 22px;
    }

    .title {
        //   font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .subtitle {
      font-size: 12px;
    }
}

.MenuItem.Loading {
    background-image: linear-gradient(90deg, #ffffff10, #ffffff30, #ffffff10);
    background-size: 200%;
    animation: ItemLoading 1s linear infinite;
}

.Shimmer {
    /* background-image: linear-gradient(90deg, #ffffff10, #ffffff20, #ffffff10); */
    /* background-image: none; */
    /* background: linear-gradient(#fff1) padding-box,
        linear-gradient(90deg, #fff1, #fff4, #fff1) border-box; */
    background: linear-gradient(90deg, var(--shimmer-color-1), var(--shimmer-color-2), var(--shimmer-color-1)) border-box;
    opacity: .25;
    border: 1px solid transparent;
    background-size: 400%;
    /* border: 1px solid #fff1; */
    animation: Shimmer 5s linear infinite;
}

@keyframes Shimmer {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -200%;
    }
}

@keyframes ItemLoading {
    from {
        background-position-x: 200%;
    }

    to {
        background-position-x: 0%;
    }
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.Toasts {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    position: fixed;
    bottom: 120px;
    left: 0;
    right: 0;
    z-index: 9;
}

.Toast {
    background-color: #000d;
    color: #f5f5f5;
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px;
    gap: 12px;
    height: auto;
    overflow: hidden;
    user-select: none;
    interpolate-size: allow-keywords;
    transition: transform .3s ease, opacity .1s ease;
}


.Toasts {
    width: calc(100% - 16px);
    margin: 8px;
    bottom: 48px;
}

.Toast {
    width: auto;
    padding: 12px;
    background-color: #121212f8;
}

.Toast.animate {
    opacity: 0;
    transform: scale(0.95) translateY(48px);
}

.Toast .icon {
    padding: 0;
    margin: 0;
}

.Skeleton {
    .Section {
        .flex {
            margin: .5rem 1.25rem 0 1.25rem;
            .title {
                width: 40%;
                height: 1.25rem;
                background-color: var(--hover-bg);
                border-radius: 8px;
            }
        }
    }
    .Items {
        .Item {
            gap: .5rem;

            .Avatar {
                width: 42px;
                height: 42px;
                background-color: var(--shimmer-color-1);
                animation: AvatarShimmer calc(5s / 3) linear infinite;
            }
            .body {
                .title {
                    width: 50%;
                    height: 1rem;
                    background-color: var(--hover-bg);
                    border-radius: 8px;
                }

                .subtitle {
                    width: 30%;
                    height: .8rem;
                    background-color: var(--hover-bg);
                    border-radius: 8px;
                }
            }
        }
    }
}

@keyframes AvatarShimmer {
    from {
        opacity: .75;
    }

    50% {
        opacity: .25;
    }

    to {
        opacity: .75;
    }
}

:root {
    --color-peer-0: #D45246;
    --color-peer-bg-0: #D452461a;
    --color-peer-bg-active-0: #D452462b;
    --color-peer-1: #F68136;
    --color-peer-bg-1: #F681361a;
    --color-peer-bg-active-1: #F681362b;
    --color-peer-2: #6C61DF;
    --color-peer-bg-2: #6C61DF1a;
    --color-peer-bg-active-2: #6C61DF2b;
    --color-peer-3: #46BA43;
    --color-peer-bg-3: #46BA431a;
    --color-peer-bg-active-3: #46BA432b;
    --color-peer-4: #5CAFFA;
    --color-peer-bg-4: #5CAFFA1a;
    --color-peer-bg-active-4: #5CAFFA2b;
    --color-peer-5: #408ACF;
    --color-peer-bg-5: #408ACF1a;
    --color-peer-bg-active-5: #408ACF2b;
    --color-peer-6: #D95574;
    --color-peer-bg-6: #D955741a;
    --color-peer-bg-active-6: #D955742b;
    --color-text: rgb(255, 255, 255);
    --color-white: #ffffff;
    --hover-color: #272727;
}

.Avatar {
  --color-user: var(--accent-color);
}

.peer-color-0 {
  --accent-color: var(--color-peer-0, var(--color-text));
  --accent-bg: var(--color-peer-bg-0, var(--hover-color))
}

.peer-color-1 {
  --accent-color: var(--color-peer-1, var(--color-text));
  --accent-bg: var(--color-peer-bg-1, var(--hover-color))
}

.peer-color-2 {
  --accent-color: var(--color-peer-2, var(--color-text));
  --accent-bg: var(--color-peer-bg-2, var(--hover-color))
}

.peer-color-3 {
  --accent-color: var(--color-peer-3, var(--color-text));
  --accent-bg: var(--color-peer-bg-3, var(--hover-color))
}

.peer-color-4 {
  --accent-color: var(--color-peer-4, var(--color-text));
  --accent-bg: var(--color-peer-bg-4, var(--hover-color))
}

.peer-color-5 {
  --accent-color: var(--color-peer-5, var(--color-text));
  --accent-bg: var(--color-peer-bg-5, var(--hover-color))
}

.peer-color-6 {
  --accent-color: var(--color-peer-6, var(--color-text));
  --accent-bg: var(--color-peer-bg-6, var(--hover-color))
}
