@font-face {
	font-family: Roboto;
	src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 300;
	src: url(./assets/fonts/SFProText/SFProText-Light.ttf);
}

@font-face {
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 400;
	src: url(./assets/fonts/SFProText/SFProText-Regular.ttf);
}

@font-face {
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 500;
	src: url(./assets/fonts/SFProText/SFProText-Medium.ttf);
}

@font-face {
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 600;
	src: url(./assets/fonts/SFProText/SFProText-SemiBold.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
	overscroll-behavior: none;
	overflow: hidden;
}

html,
body {
	margin: 0;
	font-family:
		"SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, Vazirmatn, OpenSans, "Segoe UI", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

body {
	background-color: #000;
}

#root {
	height: 100%;
}

:root {
	background-color: #fff;
	color: #000;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--bg-color: var(--tg-theme-secondary-bg-color, #f1f1f1);
	--bg-color-rgb: 241, 241, 241;
	--secondary-bg-color: var(--tg-theme-bg-color, #ffffff);
	--hover-bg: #0001;
	--active-bg: #0001;
	--border-color: #00000008;
	--text-color: #000;
	--secondary-text: #0007;
	--primary-background: #000;
	--primary-text: #fff;
	--secondary-background: #0001;
	--shimmer-color-1: #0004;
	--shimmer-color-2: #000;
	--dropdown-bg: var(--tg-theme-secondary-bg-color, #fff);

	--topbar-height: 60px;

	/* --tg-viewport-safe-area-inset-top: 20px;
  --tg-viewport-content-safe-area-inset-top: 20px; */
}

body[data-theme="dark"] {
	--bg-color: var(--tg-theme-bg-color, #000000);
	--bg-color-rgb: 0, 0, 0;
	--secondary-bg-color: var(--tg-theme-secondary-bg-color, #111);
	--hover-bg: #fff1;
	--active-bg: #fff2;
	--border-color: #fff1;
	--text-color: #fff;
	--secondary-text: #fff7;
	--primary-background: #fff;
	--primary-text: #000;
	--secondary-background: #fff1;
	--shimmer-color-1: #fff5;
	--shimmer-color-2: #fff;
	--dropdown-bg: var(--tg-theme-secondary-bg-color, #111);
}

.Mobile[data-theme="dark"] {
	--bg-color: var(--tg-theme--secondary-bg-color, #000000);
	--secondary-bg-color: var(--tg-theme-bg-color, #111);
}
